ul{list-style:none;
   padding:0;
   margin:0;}

a:link,a:visited{text-decoration:none;
               outline:none;}


*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
.clearfix:before,.clearfix:after{ content: ''; display:block;}
.clearfix:after { clear: both; }
#wrapper{background:#fff;}
/*************头部****************************************/
#header{
	background: #3D484F;
	width: 100%;
	height: 37px;
	color: #fff;
	margin:0 auto;
	margin-bottom:40px;
}

#header .header-left{
	margin-left: 5%;
	float: left;
	margin-top: 8px;
}
#header .header-right{
	margin-left: 65%;
	float: left;
	margin-top: 8px;
}
#header .header-author{
	float: left;
	margin-top: 8px;
	color:#fff;
	margin-left: 1%;
}
/*************头部结束****************************************/
/*************我的应用***************************************/
#application{
	width: 200px;
	float: left;
	font-size: 19px;
	margin-right:20px;
	margin-left:20px;
	background: #fff;
}
#application .application-heading{text-align: center;height:43px;color:#fff;background: #448bc7;border:0px solid #448bc7;}
#application .application-heading span{font-size:16px;position:relative;top:8px;left:0%;}
#application .application-list{border:1px solid #f0f0f0;margin-bottom:50px;}
#application .application-list ul li{padding-left:20px;line-height:50px;height:50px;text-align:left;font-size:16px;border:1px solid;border-color:#f0f0f0 transparent #f0f0f0 transparent;}
#application .application-list ul li:hover{background: #f0f0f0;}
#application .application-list ul li:hover .application-router{color:#000;}
#application .application-li-active .application-router,#application .application-li-active .xf-application-list-span{color: #448bc7;font-weight: bold}
#application .application-list .application-router{width:70%;display: inline-block;}
.icon-triangle-right,.icon-triangle-bottom{width:0px;height:0px;display:inline-block;border:8px solid;top: 2px;position: relative;left: 4px;}
#application .application-list ul li:hover .icon-triangle-right,.icon-triangle-right{border-color:transparent transparent transparent #169BD5;}
.icon-triangle-bottom{border-color:#169BD5 transparent transparent transparent;top:5px;}
/*************我的应用结束***************************************/
/*************内容区****************************************************/
#content{overflow: hidden;}
#content .content-main,#content .content-main-fix{border:1px solid #f0f0f0;margin-top:43px;padding:15px 10px 10px;}
#content .content-main-fix{margin-top:0px;}
/*tab页开始*/

span.tabs-BZ-total{
	display: block;
	margin-top: -10px;
	clear:both;
	margin-bottom: 20px;
}
.nav li{
  display: block;
  cursor: pointer;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background: #F2F2F2;
  float: left;
  display: inline-block;
  width:13%;
  height:43px;
  min-width:122px;
  text-overflow:ellipsis;
}
.nav li .tab-icon{display: inline-block;width: 25px;height: 20px; background: url(../img/icon.png);float: left;margin-top: 16px;margin-left: 11%;}
.nav li .tab-icon-process{background-position: -187px 0px}
.nav .tab-active .tab-icon-process-active{background-position: -215px 0px}
.nav li .tab-icon-temp{background-position:-126px 0px}
.nav .tab-active .tab-icon-temp-active{background-position:-158px 0px}
.nav li .tab-icon-bza{background-position: -55px 0px}
.nav .tab-active .tab-icon-bza-active{background-position: -93px 0px}
.nav li .tab-icon-abl{background-position: 0px 0px}
.nav .tab-active .tab-icon-zbl-active{background-position: -25px 0px}
.nav> li .link{display: block;padding:15px 0px;}
.nav> li:hover{
  text-decoration: none;
  background-color: #eee;
}
.tab-active{
  cursor: default;
  background-color: #fff !important;
  border: 1px solid #f0f0f0 !important;
  border-bottom-color: transparent !important;
  border-top:2px solid #169BD5 !important;
}
.tab-active .link{color:#448bc7;}
/*tab页结束*/
/*流程tab内容开始*/
#content .BZ-tabs span.tabs-BZ-total{
	padding-top: 15px;
}
#content .BZ-tabs span{
	display: block;
	padding-top: 35px;
	text-align: left;
}
.total{
	color:#169BD5;
}
.BZ-register{
	background: #F2F2F2;
	height: 45px;

}
 .BZ-register li{
	float: left;
	margin-left: 10%;
	margin-top: 10px;
}
#content .BZ-tabs .BZ-register li.register{
	margin-left: 71%;
}
.L1-name{
	color:#169BD5;
	display: inline-block;
	width: 20%;
}
.L1-edit{
	display: inline-block;
	width: 30%;
	text-align: center;
	color:#169BD5;
}

.BZ-classify{
	/*border-bottom: 1px dashed #A29A8F;*/
	padding-bottom: 20px;
}
.BZ-edit li.BZ-num{
	margin-left: 3%;
}
#content .BZ-tabs .BZ-classify .BZ-edit{
	margin-bottom: 15px;
	/*border: 1px solid #A29A8F;*/
}
hr.hr-BZProcess{
	width: 95%;
	margin:0 auto;
}
li.process{
	width: 60%;
	margin-left: 5%;
	text-align: center;
}
#content .BZ-tabs .BZ-classify a{
	line-height: 50px;
}
#content .BZ-tabs .BZ-classify .BZ-edit li.BZ-num,li.process{
	float: left;
	margin-top:8px;
}
/*#content .BZ-tabs .BZ-classify .BZ-edit li{
	float: left;
}*/

.BZ-tabs .BZ-classify .BZ-edit .btn{
	margin-left: 10px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 

.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 

.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 

.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, 

.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  }
  .row {
  margin-right: -15px;
  margin-left: -15px;
}
.BZ-table{
	border:1px solid #A29A8F;
}
/*流程tab内容结束*/
/*************内容区结束****************************************************/
/*************注册应用弹出框开始****************************************************/

/*************注册应用弹出框结束****************************************************/
/*公共样式*/
body{background-color:#fff;}
*{
	margin:0px;
	padding: 0px;
}
body{
	font:15px/1.62 Helvetica,Arial,sans-serif;
	background-color:#fff;
}
a{
	text-decoration: none;
	color: #000;
}
img,input{
	border:none;
	border: 1px solid none;
}
li{
	list-style:none;
}
button{
	background: #169BD5;
	color: #fff;
	border-radius: 6px;
	font-size: 14px;
}
.btn{
	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1.428571429;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	cursor: pointer;
  	background-image: none;
  	border: 1px solid transparent;
  	border-radius: 4px;
}
.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-delete{
	color: #ffffff;
  background-color: #999999;
  border-color: #357ebd;
}
.link-btn{
	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1.428571429;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	cursor: pointer;
  	background-image: none;
  	border: 1px solid transparent;
  	border-radius: 4px;
}
.link-btn-default{
  color: #fff;
  background-color: #357ebd;
  border-color: #357ebd;
}
.link-btn-default:hover{
  color: #357ebd;
  background-color: #fff;
  border-color: #357ebd;
}
/*彩色，hover更彩*/
.link-btn-blue{
	color: #fff;
  	background-color: #357ebd;
  	border-color: #357ebd;
}
.link-btn-blue:hover{
	color: #357ebd;
  	background-color: #fff;
  	border-color: #357ebd;
}
.link-btn-red{
	color: #1f2d3d;
  	background-color: #fff;
  	border-color: #f7ba2a;
}
.link-btn-red:hover{
	color: #f7ba2a;
  	background-color: #fff;
  	border-color: #f7ba2a;
}
/*浅色按钮，hover彩色*/
.link-btn-primary,.link-btn-look,.link-btn-delete{
  color: #1f2d3d;
  background-color: #fff;
  border-color: #bfcbd9;

}
.link-btn-primary:hover{
  color: #357ebd;
  background-color: #fff;
  border-color: #357ebd;
}
.link-btn-look:hover{
	color: #13ce66;
  	background-color: #fff;
  	border-color: #13ce66;
}
.link-btn-delete:hover{
	color: #ff6d6d;
    background-color: #fff;
    border-color: #ff6d6d;
}
.btn:hover{
	color: #000;
}
.xf-clear{clear: both;}
/*遮罩层的*/
.fade-enter-active {
  transition: all .2s ease;
}
.fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
/*弹出框的*/
.xf-app-enter-active{
  transform: translate(0,0);
}
.xf-app-leave-active{
  transform: translate(0,-10px);
}
.xf-app-enter,.xf-app-active{
  opacity: 0;
}
/*修改默认样式*/
.el-checkbox__input.is-checked .el-checkbox__inner{background-color: #448bc7;}
.f-fr{float: right}
.f-fl{float: left}
.server-message{font-size:12px;color:#ff4949}
.listNotEmpty-div{text-align: center;margin:50px 0px;}
.listNotEmpty{font-size:13px;color:#ccc;text-align: center}